@import './../../../style/common';

a.yandex_button {
    font-family: var(--button-font);
    padding: clamp(6.6px, calc(var(--size) * 0.43), 13px);
    border-radius: clamp(5px, calc(var(--size) * 0.5), 15px);
    gap: clamp(6.7px, calc(var(--size) * 0.45), 13.5px);
    background: #fff;
    font-size: clamp(12px, calc(var(--size) * 0.93), 28px);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: var(--font-black) !important;
    
    & img {
        width:  clamp(18px, calc(var(--size) * 1.1), 33px);
        height:  clamp(18px, calc(var(--size) * 1.1), 33px);
    }

    @include mediaMinWidth(992) {
        &:hover {
            box-shadow: 0px 0px 10px 0px #FFFFFF;
        }
    }
}