@import './../../../style/common';

.yandex_button {
    font-family: var(--button-font);
    padding: 13px;
    background: #fff;
    border-radius: 15px;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 13.5px;
    & img {
        width: 33px;
        height: 33px;
    }
}