@import './../../../style/common';

.main_button {
    border-width: 3px;
    border-style: solid;
    font-weight: 600;
    line-height: 19px;
    min-width: 222px;
    text-align: center;
    transition: 0.5s ease-in-out;
    animation: appear 0.8s ease;
    @include adaptiveProperty(padding, 21, 8);
    @include adaptiveFont(18, 12);
    @include mediaMaxWidth(991) {
        @include adaptiveFont(18, 15);
        @include adaptiveProperty(padding, 21, 17);
    }
    &.full {
        width: 100%;
    }
    &.white {
        border-color: var(--font-white);
        color: var(--font-white);
        background-image: linear-gradient(var(--orange-rgb), var(--orange-rgb));
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 0% 100%;
        @include mediaMinWidth(992) {
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
    &.black {
        border-color: var(--font-black);
        color: var(--font-black);
        background-image: linear-gradient(var(--orange-rgb), var(--orange-rgb));
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 0% 100%;
        @include mediaMinWidth(992) {
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
    &.grey {
        border-color: var(--button-grey);
        color: var(--button-grey);
        background-image: linear-gradient(var(--orange-rgb), var(--orange-rgb));
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 0% 100%;
        @include mediaMinWidth(992) {
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
    &.orange {
        border-color: var(--orange);
        color: var(--orange);
        background-image: linear-gradient(var(--orange-rgb), var(--orange-rgb));
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 0% 100%;
        @include mediaMinWidth(992) {
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
    &.mob {
        background-color: var(--orange-rgb);
        color: var(--font-white);
    }
    &.small {
        min-width: 144px;
        background-color: var(--orange);
        color: #fff;
        box-shadow: 0px 0px 5px 0px var(--orange);
        border: 0;
        font-weight: 400;
        font-family: var(--button-font);
        padding: 8.5px;
        @include mediaMinWidth(992) {
            &:hover {
                box-shadow: 0px 0px 20px 0px var(--orange);
            }
        }
    }
    &.big {
        min-width: 300px;
        background-color: var(--orange);
        color: #fff;
        box-shadow: 0px 0px 5px 0px var(--orange);
        border: 0;
        font-weight: 400;
        font-family: var(--button-font);
        @include mediaMinWidth(992) {
            &:hover {
                box-shadow: 0px 0px 20px 0px var(--orange);
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

