@import './../../../style/common';

.main_button {
    border-width: 3px;
    border-style: solid;
    font-weight: 600;
    line-height: 19px;
    min-width: 222px;
    text-align: center;
    transition: 0.3s;
    @include adaptiveProperty(padding, 21, 8);
    @include adaptiveFont(18, 12);
    @include mediaMaxWidth(991) {
        @include adaptiveFont(18, 15);
        @include adaptiveProperty(padding, 21, 17);
    }
    &.full {
        width: 100%;
    }
    &.white {
        border-color: var(--font-white);
        color: var(--font-white);
        @include mediaMinWidth(992) {
            &:hover {
                background-color: var(--orange-rgb);
            }
        }
    }
    &.orange {
        border-color: var(--orange);
        color: var(--orange);
        @include mediaMinWidth(992) {
            &:hover {
                background-color: var(--orange-rgb);
            }
        }
    }
    &.mob {
        background-color: var(--orange-rgb);
        color: var(--font-white);
    }
    &.small {
        min-width: 144px;
        background-color: var(--orange);
        color: #fff;
        box-shadow: 0px 0px 5px 0px var(--orange);
        border: 0;
        font-weight: 400;
        font-family: var(--button-font);
        padding: 8.5px;
        @include mediaMinWidth(992) {
            &:hover {
                box-shadow: 0px 0px 20px 0px var(--orange);
            }
        }
    }
    &.big {
        min-width: 300px;
        background-color: var(--orange);
        color: #fff;
        box-shadow: 0px 0px 5px 0px var(--orange);
        border: 0;
        font-weight: 400;
        font-family: var(--button-font);
        @include mediaMinWidth(992) {
            &:hover {
                box-shadow: 0px 0px 20px 0px var(--orange);
            }
        }
    }
}

