@import './../../../style/common';

.main_page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .page {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        height: 100dvh;
        width: 100dvw;
        transition: 1s;
        padding: 232px 30px 78px 30px;
        background-color: var(--background);
        @include adaptiveProperty(padding-left, 30, 15);
        @include adaptiveProperty(padding-right, 30, 15);
        @include adaptiveProperty(padding-bottom, 78, 15);
        @include adaptiveProperty(padding-top, 232, 135);
        &.main {
            position: static;
            transform: translateX(0);
            @include adaptiveProperty(padding-bottom, 63, 15);
            @include adaptiveProperty(padding-top, 312, 135);
        }
        &.active {
            transform: translateX(0);
        }
    }
    @include mediaMaxWidth(992) {
        overflow: visible;
        .page {
            position: static;
            transform: translate(0);
            width: 100%;
            @include adaptiveProperty(padding, 30, 15);
            height: auto;
        }
    }
}