@charset "UTF-8";
/*-------------Миксины----------------*/
.main_page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main_page .page {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  height: 100dvh;
  width: 100dvw;
  transition: 1s;
  padding: 232px 30px 78px 30px;
  background-color: var(--background);
}
@media (max-width: 768px) {
  .main_page .page {
    padding-left: calc(15px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page {
    padding-left: calc(15px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page {
    padding-right: calc(15px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page {
    padding-right: calc(15px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page {
    padding-bottom: calc(15px + 107.1 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page {
    padding-bottom: calc(15px + 63 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page {
    padding-top: calc(135px + 164.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page {
    padding-top: calc(135px + 97 * 0.0520833333vw);
  }
}
.main_page .page.main {
  position: static;
  transform: translateX(0);
}
@media (max-width: 768px) {
  .main_page .page.main {
    padding-bottom: calc(15px + 81.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.main {
    padding-bottom: calc(15px + 48 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page.main {
    padding-top: calc(135px + 283.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.main {
    padding-top: calc(135px + 167 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page.about {
    padding-bottom: calc(15px + 81.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.about {
    padding-bottom: calc(15px + 48 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .main_page .page.about {
    padding-top: calc(135px + 283.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.about {
    padding-top: calc(135px + 167 * 0.0520833333vw);
  }
}
@media screen and (max-width: 992px) {
  .main_page .page.about {
    padding-top: 0px;
  }
}
.main_page .page.active {
  transform: translateX(0);
}
.main_page .page.objects {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 768px) {
  .main_page .page.objects {
    padding-top: calc(135px + 283.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.objects {
    padding-top: calc(135px + 167 * 0.0520833333vw);
  }
}
@media screen and (max-width: 992px) {
  .main_page .page.objects {
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .main_page .page.objects {
    gap: calc(20px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main_page .page.objects {
    gap: calc(20px + 30 * 0.0520833333vw);
  }
}
.main_page .page.prev {
  transform: translateX(-20%) scale(0.8);
}
@media screen and (max-width: 991px) {
  .main_page .page.prev {
    transform: translateX(0);
  }
}
@media screen and (max-width: 992px) {
  .main_page {
    overflow: visible;
  }
  .main_page .page {
    position: static;
    transform: translate(0);
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .main_page .page {
    padding: calc(15px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .main_page .page {
    padding: calc(15px + 15 * 0.0520833333vw);
  }
}/*# sourceMappingURL=main_page.css.map */