@import './../../../style/common';

.main_page {
    position: relative;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    .main_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(10, 100dvw);
        grid-auto-rows: 100dvh;
        transition: 0.6s;
        will-change: transform;
        @include mediaMaxWidth(991) {
            position: static;
            display: block;
        }
    }
    .page {
        transition: 1s;
        padding: 232px 30px 78px 30px;
        background-color: var(--background);
        @include adaptiveProperty(padding-bottom, 78, 15);
        @include adaptiveProperty(padding-top, 232, 135);
        padding-left: 30px;
        padding-right: 30px;
        &.about {
            @include adaptiveProperty(padding-bottom, 63, 15);
            @include adaptiveProperty(padding-top, 302, 135);
            @include mediaMaxWidth(991) {
                padding-top: 0px;
            }
        }
        &.main {
            position: static;
            transform: translateX(0);
            @include adaptiveProperty(padding-bottom, 63, 15);
            @include adaptiveProperty(padding-top, 302, 135);
        }
        &.objects {
            @include adaptiveProperty(padding-top, 302, 135);
            @include mediaMaxWidth(991) {
                padding-top: 100px;
                flex-direction: column-reverse;
            }
            display: flex;
            flex-direction: column;
            @include adaptiveProperty(gap, 50, 30);
        }
        &.process {
            @include adaptiveProperty(padding-bottom, 63, 15);
            @include adaptiveProperty(padding-top, 302, 135);
            @include mediaMaxWidth(991) {
                padding-top: 100px;
            }   
        }
    }
    @include mediaMaxWidth(991) {
        overflow: visible;
        .page {
            width: 100%;
            height: auto;
        }
    }
}