@import './../../../style/common';

.bottom_header {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px 11px;
    & h2 {
        text-transform: uppercase;
        font-size: calc(var(--size) * 2);
        @include mediaMaxWidth(991) {
            @include adaptiveFont(60, 26);
        }
    }

    @include mediaMaxWidth(768) {
        display: none;
    }
}