@import './../../../style/common';

.bottom_header {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 11px;
    & h2 {
        @include adaptiveFont(60, 26);
        text-transform: uppercase;
    }
}