@import './../../../style/common';

.page.managers {
    display: flex;
    flex-direction: column;
    --index: calc(1.3vw + 2.1vh);
    // @include mediaMaxWidth(768) {
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    .manager_content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1 100%;
        gap: 0 40px;
        margin-bottom: 40px;

        @include mediaMaxWidth(768) {
            flex-direction: column;
            // padding-left: 30px;
            // padding-right: 30px;
        }

        .manager_title {
            width: 100dvw;
            padding: 40px 30px;
            font-weight: 600;
            background: var(--background-black);
            @include adaptiveFont(60, 26);
            // margin: 0;
            // @include adaptiveProperty(margin-left, -30, -15);
            // @include adaptiveProperty(margin-right, -30, -15);
            //margin-right: -30px;
            margin-left: -30px;
            @include adaptiveProperty(margin-bottom, 60, 30);

            @include mediaMinWidth(768) {
                display: none;
            }
        }
        
        .manager_item{

            width: min-content;

            @include mediaMaxWidth(992) {
                margin-bottom: 100px;
            }

            .grid {
                display: flex;
                justify-content: center;
                width: max-content;
                @include adaptiveProperty(gap, 20, 0);

                .contacts {
                    position: relative;
                    flex: 1;
                    z-index: 4;
                    max-width: 200px;
                    @include adaptiveProperty(max-width, 200, 80);
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    justify-content: space-around;

                    .link {
                        display: flex;
                        align-items: start;
                        gap: 12px;
                        .qr {
                            width: 100%;
                            max-width: 144px;
                        }

                        .flex {
                            display: flex;
                            justify-content: space-between;
                            gap: 5px;
                            & a {
                                display: block;
                                white-space: nowrap;
                                text-decoration: underline;
                                color: var(--font-grey);
                                @include adaptiveFont(16, 15);
                            }
                        }

                    }

                    .name {
                        @include adaptiveFont(60, 26);
                        letter-spacing: -4px;
                    }

                    .tel {
                        letter-spacing: -5%;
                        color: var(--orange);
                        font-size: 30px;
                        @include adaptiveFont(30, 22);
                        font-family: var(--sanchez);
                        white-space: nowrap;
                    }

                    @include mediaMaxWidth(992) {
                        justify-content: end;

                        & .link {
                            order: 2;
                            margin-bottom: 5px;
                            & .qr {
                                display: none
                            }
                        }

                        & .name {
                            order: 1;
                            margin-bottom: 20px;
                            letter-spacing: 2px;
                        }

                        & .tel {
                            order: 3;
                            letter-spacing: -1px;
                        }
                    }
                }
                
                .manager_image_wrapper {
                    position: relative;
                    height: calc(var(--index) * 10);
                    width: calc(var(--index) * 10);
                    min-width: 240px;
                    min-height: 240px;
                    max-width: 378px;
                    max-height: 378px;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 1px;
                        left: 1px;
                        height: 50%;
                        width: 50%;
                        background: transparent;
                        border-radius: 0 0 0 100%;
                        z-index: 1;
                        box-shadow: -2px 2px 0 0 #000;
                        pointer-events: none;
                    }
                    .manager_image {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        border: 1px solid var(--font-grey);
                        border-radius: 50%;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                        &::before {
                            content: '';
                            position: absolute;
                            @include adaptiveProperty(left, 30, 0);
                            top: 0;
                            height: 100%;
                            width: 102px;
                            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                            z-index: 3;

                            @include mediaMaxWidth(992) {
                                width: 100%;
                                top: calc(100% - 100px);
                                height: 100px;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                                // transform: rotate(295deg);
                            }
                        }

                        & img {
                            position: relative;
                            height: 97%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }

            .description {
                @include adaptiveProperty(margin-top, 10, 30);
                @include adaptiveFont(18, 15);
                line-height: 1.3;
                & h3 {
                    color: var(--font-white);
                }

                & p {
                    color: var(--font-grey);
                }
            }
        }
    }
}