@import './../../../style/common';

header {
    position: fixed;
    top: 78px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    .logo {
        width: 144px;
    }
    .account {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .navigation {
        width: 100%;
        max-width: 1254px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .pagination {
            width: 24px;
            height: 24px;
            background: transparent;
            border-radius: 50%;
            border: 6.5px solid var(--orange);
        }
        & span{
            display: none;
        }
    }
}