@import './../../../style/common';

header {
    position: fixed;
    left: 0px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    gap: 30px;
    top: 7dvh;
    .logo {
        width: clamp(60px, calc(var(--size) * 4.8), 144px);
    }
    @include mediaMaxWidth(991) {
        align-items: flex-start;
        top: 15px;
    }

    .account {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include mediaMaxWidth(991) {
            display: none;
        }
    }

    .navigation {
        width: 100%;
        max-width: 1254px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
        @include adaptiveProperty(padding-left, 30, 15);
        @include adaptiveProperty(padding-right, 30, 15);
        @include mediaMaxWidth(991) {
            display: none;
        }
        .line{
            flex: 1;
            height: 2px;
            background-color: var(--orange);
        }

        .nav_item {
            position: relative;
            .pagination {
                position: relative;
                @include adaptiveProperty(width, 24, 14);
                @include adaptiveProperty(height, 24, 14);
                background: transparent;
                border-radius: 50%;
                border: 6.5px solid var(--orange);
                @include adaptiveProperty(border-width, 6.5, 2);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                & .inner_circle {
                    @include adaptiveProperty(width, 6, 4);
                    @include adaptiveProperty(height, 6, 4);
                    background: transparent;
                    border-radius: 50%;
                    transition: 0.3s;
                }
    
                & .decor {
                    position: absolute;
                    // top: -6px;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 24px;
                    @include adaptiveProperty(height, 23, 13);
                    &.right {
                        @include adaptiveProperty(right, -23, -13);
                    }
                    &.left {
                        transform: translateY(-50%) scale(-1, 1);
                        @include adaptiveProperty(left, -23, -13);
                    }
                }
            }
    
            & span{
                display: block;
                height: max-content;
                position: absolute;
                top: calc(100% + 15px);
                left: 50%;
                color: var(--font-white);
                white-space: nowrap;
                //@include adaptiveFont(16, 12);
                font-size: clamp(12px, calc(var(--size) * 0.54), 16px);
                text-transform: uppercase;
                font-weight: 400;
                transform: translateX(-50%);
                transition: 0.3s;
                cursor: pointer;
                &.top {
                    top: -30px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 0%;
                    height: 1px;
                    background: var(--font-white);
                    transition: 0.3s;
                }
                &:hover::before{
                    width: 100%;
                }

                @include mediaMaxWidth(1300) {
                    text-align: center;
                    width: min-content;
                    white-space: wrap;
                }
            }

            &.active {
                & .inner_circle {
                    background: var(--font-white);
                }

                & span::before {
                    width: 100%;
                }
            }
        }
    }

    .burger {
        position: relative;
        cursor: pointer;
        width: 45px;
        height: 21px;
        z-index: 2;
        @include mediaMinWidth(992) {
            display: none;
        }
        &.cross {
            .top {
                animation: TopCross 0.5s forwards;
                width: 75%;
            }
            .center {
                animation: CenterCross 0.25s forwards;
                width: 75%;
            }
            .bottom {
                animation: BottomCross 0.5s forwards;
                width: 75%;
            }
        }
        &.burg {
            .top {
                animation: TopBurg 0.5s forwards;   
            }
            .center {
                animation: CenterBurg 0.25s forwards;   
            }
            .bottom {
                animation: BottomBurg 0.5s forwards;    
            }
        }
        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: var(--orange);
            transition: 0.4s;
            &.top {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &.center {
                position: absolute;
                top: 9px;
                left: 50%;
                transform: translateX(-50%);
            }
            &.bottom {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 195px;
        background-color: var(--background);
        padding: 76px 15px 38px 15px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-left: 1px solid #2C2C2C;
        border-bottom: 1px solid #2C2C2C;
        transform: translateX(100%);
        transition: 0.5s;
        &.active {
            transform: translateX(0);
        }
        @include mediaMinWidth(992) {
            display: none;
        }
        .sign{
            color: var(--orange);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }
        a,
        .sign {
            padding-top: 3px;
            border-top: 1px solid var(--font-clean-white);
            font-size: 17px;
            font-weight: 500;
            &:nth-child(2) {
                color: var(--orange);
            }
        }
    }
}


header.white {

    .account {
        
    }

    .navigation {
        .line{
            
        }

        .nav_item {
    
            & span{
                color: var(--font-black);
                &.top {
                    top: -30px;
                }
                &:before {
                    background: var(--font-black);
                }
            }

            &.active {
                & .inner_circle {
                    background: var(--background);
                }
            }
        }
    }
}

@keyframes TopCross {
    0% {
        top: 0;
        transform: translateX(-50%) rotate(0deg) ;
    }
    50% {
        top: 9px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 9px;
        transform: translateX(-50%) rotate(45deg);
    }
}

@keyframes CenterCross {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes BottomCross {
    0% {
        bottom: 0;
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        bottom: 9px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        bottom: 9px;
        transform: translateX(-50%) rotate(-45deg);
    }
}


@keyframes TopBurg {
    0% {
        top: 9px;
        transform: translateX(-50%) rotate(45deg) ;
    }
    50% {
        top: 9px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 0;
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes CenterBurg {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes BottomBurg {
    0% {
        bottom: 9px;
        transform: translateX(-50%) rotate(-45deg);
    }
    50% {
        bottom: 9px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        bottom: 0px;
        transform: translateX(-50%) rotate(0deg);
    }
}