@import './../../../style/common';

header {
    position: fixed;
    top: 78px;
    left: 0px;
    width: 100%;
    @include adaptiveProperty(top, 78, 15);
    @include adaptiveProperty(padding-left, 30, 15);
    @include adaptiveProperty(padding-right, 30, 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    gap: 30px;
    .logo {
        @include adaptiveProperty(width, 144, 75);
    }

    .account {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .navigation {
        width: 100%;
        max-width: 1254px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;

        .line{
            flex: 1;
            height: 2px;
            background-color: var(--orange);
        }

        .nav_item {
            position: relative;
            .pagination {
                position: relative;
                width: 24px;
                height: 24px;
                background: transparent;
                border-radius: 50%;
                border: 6.5px solid var(--orange);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                & .inner_circle {
                    width: 6px;
                    height: 6px;
                    background: transparent;
                    border-radius: 50%;
                    transition: 0.3s;
                }
    
                & .decor {
                    position: absolute;
                    top: -6px;
                    height: 24px;
                    &.right {
                        right: -23px;
                    }
                    &.left {
                        left: -23px;
                        transform: scale(-1, 1);
                    }
                }
            }
    
            & span{
                display: block;
                height: max-content;
                position: absolute;
                bottom: -30px;
                left: 50%;
                color: var(--font-white);
                white-space: nowrap;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                transform: translateX(-50%);
                cursor: pointer;
                &.top {
                    top: -30px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 0%;
                    height: 1px;
                    background: var(--font-white);
                    transition: 0.3s;
                }
                &:hover::before{
                    width: 100%;
                }
            }

            &.active {
                & .inner_circle {
                    background: var(--font-white);
                }

                & span::before {
                    width: 100%;
                }
            }
        }
    }
}