@charset "UTF-8";
/*-------------Миксины----------------*/
.transfer_page {
  width: 100%;
  height: 100dvh;
  background-color: var(--background);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: clamp(200px, 28dvh, 400px);
  padding-bottom: 5.85dvh;
}
@media screen and (max-width: 991px) {
  .transfer_page {
    display: none;
  }
}
.transfer_page .profile_header {
  position: absolute;
  left: 0px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  gap: 30px;
}
@media (max-width: 768px) {
  .transfer_page .profile_header {
    top: calc(15px + 107.1 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .transfer_page .profile_header {
    top: calc(15px + 63 * 0.0520833333vw);
  }
}
.transfer_page .profile_header .logo {
  width: clamp(60px, var(--size) * 4.8, 144px);
}
.transfer_page form {
  max-width: 1254px;
  width: 100%;
  margin-bottom: 1.11dvh;
  margin-top: 2.77dvh;
}
.transfer_page form .check_box_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 4.62dvh;
}
.transfer_page form .check_box_wrapper .check_box {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.transfer_page form .check_box_wrapper .check_box .check {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  box-sizing: content-box;
  border: 1px solid var(--font-grey-lite);
  cursor: pointer;
}
.transfer_page form .check_box_wrapper .check_box .check:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--orange);
  height: 0;
  width: 0;
  box-shadow: none;
  transition: 80ms ease-out;
  border-radius: 50%;
}
.transfer_page form .check_box_wrapper .check_box .check.active:before {
  height: 14px;
  width: 14px;
  box-shadow: 0px 0px 15px 0px #FF5500;
}
.transfer_page form .check_box_wrapper .check_box label.check__label {
  font-weight: 700;
  font-size: 16px;
  color: var(--orange);
  cursor: pointer;
}
.transfer_page form .input_wrapper {
  width: 100%;
  max-width: 768px;
  display: flex;
  gap: 2.77dvh;
  flex-direction: column;
}
.transfer_page form .input_wrapper .input__item {
  width: 100%;
}
.transfer_page form .input_wrapper .input__item input {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--font-grey-lite);
  color: var(--font-clean-white);
  font-style: italic;
  font-size: 16px;
  background: transparent;
}
.transfer_page form .input_wrapper .input__item input::-moz-placeholder {
  color: var(--font-clean-white);
}
.transfer_page form .input_wrapper .input__item input::placeholder {
  color: var(--font-clean-white);
}
.transfer_page form .input_wrapper .input__item label {
  padding-top: 3px;
  font-weight: 700;
  color: var(--font-grey-lite);
}
@media (max-width: 768px) {
  .transfer_page form .input_wrapper .input__item label {
    font-size: calc(15px + 1.7 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .transfer_page form .input_wrapper .input__item label {
    font-size: calc(15px + 1 * 0.0520833333vw);
  }
}
.transfer_page form .input_wrapper .input__item label span {
  font-weight: 500;
  font-style: italic;
}
.transfer_page form .main_button.small {
  margin-top: 5.55dvh;
  width: 100%;
  max-width: 222px;
}
.transfer_page h2 {
  width: 100%;
  font-size: clamp(20px, var(--size) * 2, 60px);
  color: var(--font-clean-white);
  letter-spacing: -0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}/*# sourceMappingURL=transfer.css.map */